{% include 'header.twig' %}
{% include 'navbar.twig' %}

<div class="container">
    <header class="mt-5 mb-5">
        <h1 class="text-center">Ласкаво просимо в Гіквіль!</h1>
    </header>
    <main>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="lead text-center">Рай для справжнього поціновувача кіноматографу</p>
            </div>
        </div>
    </main>
</div>

{% include 'footer.twig' %}