{% include 'header.twig' %}
{% include 'navbar.twig' %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                Фільм успішно видалено
            </div>
            <a href="/movie/all" class="btn btn-primary">Всі фільми</a>
        </div>
    </div>
</div>

{% include 'footer.twig' %}