{% include 'header.twig' %}
{% include 'navbar.twig' %}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Фільм успішно створено!</h4>
        <p>Ви можете переглянути його у списку всіх фільмів.</p>
        <hr>
        <a href="/movie/all" class="btn btn-primary">Всі фільми</a>
    </div>
</div>

{% include 'footer.twig' %}